{% extends 'base.html' %}
{% block content %}
    <h1 class='text-center'>Fuse Machines AI project</h1>

    <p class="my-4  text-center font-semibold">This is a project for the Fuse Machines AI fellowship.</p>

    <p class="my-4 mx-4 ">The team members are:</p>

    <ul class="list-disc list-inside my-4 mx-4">
        <li>Sashank Dulal</li>
        <li>Takshak Bikram Bist</li>
        <li>Sumit Aryal</li>
        <li>Rishav Bhattarai</li>
    </ul>

    <p class="my-4 mx-4">This project is presented to our instructor, Prabhat Ale.</p>
{% endblock %}
